    .header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1.82rem;
}

.header__logo {
    display: flex;
}

.header__logo img {
    width: 100%;
}

.header__nav {
    display: inline;
}

.header__nav ul {
    list-style: none;
}

.header__menu {
    display: inline;
    margin-left: 20.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header__menu li {
    display: inline;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    padding-top: 0.24rem;
    padding-bottom: 0.24rem;

    color: $color1;
    font-size: 0.75rem;
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    line-height: 0.75rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;

    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.header__menu li:first-child {
    margin-left: 0;
}

.header__menu li:last-child {
    margin-right: 0;
}

.header__menu li:hover {
    padding-top: 0.24rem;
    padding-bottom: 0.24rem;

    border-top: 1px solid $color1;
    border-bottom: 1px solid $color1;

    transition: all 0.5s ease;
}

.header__menu span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.header__menu span:hover {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.menu__items {
    display: inline;
}

@media (min-width: 690px) and (max-width: 1360px) {
    .header {
        margin: 1rem 1rem 1rem 1rem;
    }

    .header__menu {
        max-width: 30rem;
        width: 30rem;
    
        justify-content: flex-end;
        margin-left: 6.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .header__menu li {
        margin-left: 0.4rem;
        margin-right: 0.4rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

@media (min-width: 320px) and (max-width: 689px) {
    .header {
        margin: 1rem 1rem 1rem 1rem;
    }

    .header__menu {
        max-width: 30rem;
        width: 30rem;
    
        justify-content: flex-end;
        margin-left: 6.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .header__menu li {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;

        line-height: 0.625rem;
    }
}