@import "../template";
@import "../header/header";
@import "../footer/footer";

.contact {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "h 1fr"
    "h map"
    "t1 map"
    "t2 map"
    "t3 map"
    "but map";
  padding-bottom: 7rem;

  @media screen and (max-width: 1170px) {
    padding-bottom: 5rem;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.contact__titles {
  max-width: 17.36019rem;
  width: 100%;
  grid-area: h;

  @media screen and (max-width: 767px) {
    order: 1;
  }
  @media screen and (max-width: 320px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.contact__title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.contact__text1 {
  color: $color1;
  font-size: 1.125rem;
  font-family: $font;

  display: flex;
  flex-direction: column;
  padding: 2.13rem 0 2.75rem;
  grid-area: t1;

  @media screen and (max-width: 767px) {
    text-align: center;
    padding: 1rem 0 1rem;
    order: 1;
  }
}

.contact__text1-bold {
  font-weight: bold;
}

.contact__text2 {
  color: $color1;
  font-size: 1.125rem;
  font-family: $font;
  grid-area: t2;

  @media screen and (max-width: 767px) {
    text-align: center;
    padding-top: 1rem;
    order: 3;
  }
}

.contact__text2-bold {
  font-weight: bold;
}

.contact__text3 {
  color: $color1;
  font-size: 1rem;
  font-family: $font;
  font-weight: 300;
  padding: 3.31rem 0 3.94rem;

  grid-area: t3;

  @media screen and (max-width: 767px) {
    text-align: center;
    padding: 1rem 0 3rem;
    order: 3;
  }
}

.contact__button {
  @include btn($color1, $color5);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: but;

  @media screen and (max-width: 767px) {
    padding-bottom: 4rem;
    order: 3;
  }
  @media screen and (max-width: 320px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.contact__map {
  height: 100%; 
  width: 100%;
  grid-area: map;
  display: grid;
  align-items: center;

  @media screen and (max-width: 767px) {
    max-width: 25rem;
    max-height: 35rem;
    order: 2;
  }
  .map{
    margin-top: 3.94rem;
    max-height: 28rem;
    height: 100%;
    width: 100%;
    border: 1px solid $color1;
  } 
}
