@import "../template";
@import "../header/header";
@import "../footer/footer";

.contact {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "h 1fr"
    "h map"
    "t1 map"
    "t2 map"
    "t3 map"
    "but map";
  padding-bottom: 7rem;

  @media screen and (max-width: 1170px) {
    padding-bottom: 5rem;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.contact__titles {
  // padding-top: 3.27rem;
  // padding-bottom: 1.2rem;
  grid-area: h;

  @media screen and (max-width: 1170px) {
    // padding-top: 2rem;
    // padding-bottom: 1rem;
  }
  @media screen and (max-width: 767px) {
    // padding-top: 2rem;
    // padding-bottom: 1rem;
    order: 1;
  }
  @media screen and (max-width: 320px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.contact__title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.contact__text1 {
  color: $color1;
  font-size: 1.125rem;
  font-family: $font;

  display: flex;
  flex-direction: column;
  padding: 2.13rem 0 2.75rem;
  grid-area: t1;

  @media screen and (max-width: 767px) {
    text-align: center;
    padding: 1rem 0 1rem;
    order: 1;
  }
}

.contact__text1-bold {
  font-weight: bold;
}

.contact__text2 {
  color: $color1;
  font-size: 1.125rem;
  font-family: $font;
  grid-area: t2;

  @media screen and (max-width: 767px) {
    text-align: center;
    padding-top: 1rem;
    order: 3;
  }
}

.contact__text2-bold {
  font-weight: bold;
}

.contact__text3 {
  color: $color1;
  font-size: 1rem;
  font-family: $font;
  font-weight: 300;
  padding: 3.31rem 0 3.94rem;

  grid-area: t3;

  @media screen and (max-width: 767px) {
    text-align: center;
    padding: 1rem 0 3rem;
    order: 3;
  }
}

.contact__button {
  color: $color5;
  grid-area: but;

  @media screen and (max-width: 767px) {
    padding-bottom: 4rem;
    order: 3;
  }
  @media screen and (max-width: 320px) {
    padding-bottom: 2rem;
  }
}

.contact__a {
  color: $color5;
  font-size: 0.75rem;
  font-family: $font;
  font-weight: 400;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;

  background-color: $color1;

  padding: 1.87rem 3.62rem 1.81rem 4.44rem;
}

.contact__a:hover {
  color: $color2;
  background-color: $color9;
  border-top: 2px solid $color1;
  border-bottom: 2px solid $color1;
}

.contact__map {
  max-width: 41.75rem;
  max-height: 29.125rem;
  border: 1px solid $color1;
  grid-area: map;

  @media screen and (max-width: 767px) {
    max-width: 25rem;
    max-height: 35rem;
    order: 2;
  }
}
