@import "../template";
@import "../header/header";
@import "../footer/footer";

.main__container {
  max-width: 73.12rem;
  width: 100%;
  margin: 0 auto;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 10.25rem;

  padding-bottom: 7rem;
}

.contact__title-color {
  color: $color3;
  font-family: $font;
  font-size: 4rem;
  font-weight: 300;
  line-height: 4rem;

  padding-top: 3.94rem;
}

.contact__title {
  color: $color1;
  font-family: $font;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;

  padding-bottom: 1.87rem;
}

.contact__text1 {
  color: $color1;
  font-size: 1.125rem;
  font-family: $font;

  padding: 2.13rem 0 2.75rem;
}

.contact__text1_bold {
  font-weight: bold;
}

.contact__text2 {
  color: $color1;
  font-size: 1.125rem;
  font-family: $font;
}

.contact__text2_bold {
  font-weight: bold;
}

.contact__text3 {
  color: $color1;
  font-size: 1rem;
  font-family: $font;
  font-weight: 300;

  padding: 3.31rem 0 3.94rem;
}

.contact__button {
  color: $color5;
}

.contact__a {
  color: $color5;
  font-size: 0.75rem;
  font-family: $font;
  font-weight: 400;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;

  background-color: $color1;

  padding: 1.87rem 3.62rem 1.81rem 4.44rem;
}

.contact__a:hover {
  color: $color2;
  background-color: $color9;
  border-top: 2px solid $color1;
  border-bottom: 2px solid $color1;
}

.contact__map {
  max-width: 41.75rem;
  max-height: 29.125rem;
  border: 1px solid $color1;
}
