@import "../template";
@import "../header/header";
@import "../footer/footer";

.gallery__titles {
  max-width: 17.36019rem;
  width: 100%;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    // align-items: center;
    max-width: 3rem;
  }
}

.gallery__title {
  @media screen and (max-width: 1170px) {
    text-align: center;
  }
}

.gallery__items {
  display: grid;
  grid-template-columns: repeat(5, 13.125rem);
  grid-template-rows: repeat(2, 16.25rem);
  gap: 1.88rem;

  padding: 1.88rem 0 3.75rem 0;
  border-top: 1px solid $color6;

  @media screen and (max-width: 1197px) {
    grid-template-columns: repeat(auto-fit, minmax(13.125rem, 1fr));
    justify-items: center;

    padding: 1.88rem 0 3.75rem 0;
  }
}

.gallery__img {
  width: 13.125rem;
  height: 16.25rem;
}
