@import '../template';
@import '../header/header';
@import '../footer/footer';

.main__project-variants-wrapper {
    max-width: 278px;
    width: 100%;

    .main__project-variants-title {
        font-family: $font;
        font-size: 4rem;
        position: relative;

        span {
            font-weight: 300;
            color: $color3;
        }

    }
}

.main__project-variants-title::after {
    content: " ";
    width: 1170px;
    height: 1px;

    background-color: $color6;
    position: absolute;
    bottom: -17px;
    left: 0;

}

.cards {
    .cards__wrapper {
        display: flex;
        background-color: $color4;
        margin-bottom: 3.75rem;

        .card__info {
            margin: 1.88rem 1.88rem 1.88rem 1.88rem;

            .card__title {
                font-family: $font;
                font-weight: 300;
                font-size: 2.5rem;
                color: $color3;
                margin-bottom: 4.56rem;
            }

            .card__text {
                max-width: 25rem;
                min-height: 7.5rem;
                width: 100%;
                margin-bottom: 4rem;
                font-family: $font;
                font-weight: 300;
                font-size: 1rem;
                color: $color2;
            }

            .card__button {
                max-width: 222px;
                min-height: 71px;
                width: 100%;

                background-color: $color5;
                border: none;
                font-family: $font;
                font-weight: 400;
                font-size: 0.8rem;
                color: $color1;


                .card__button-arrow {
                    margin-left: 15px;
                }
            }
        }
    }

    .cards__wrapper:last-child {
        margin-bottom: 14.56rem;
    }
}
