* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
  }
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

li {
  cursor: pointer;
}

.footer__row-col {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title-h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  position: relative;
}
.title-h1 span {
  font-weight: 300;
  color: #BDBDBD;
}
@media (max-width: 768px) {
  .title-h1 {
    font-size: 3rem;
  }
}
@media (max-width: 320px) {
  .title-h1 {
    font-size: 2rem;
  }
}

.title-h2 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #BDBDBD;
}
@media (max-width: 768px) {
  .title-h2 {
    font-size: 3rem;
  }
}
@media (max-width: 320px) {
  .title-h2 {
    font-size: 2rem;
  }
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1.82rem;
}

.header__logo {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 100%;
}

.header__nav {
  display: inline;
}

.header__nav ul {
  list-style: none;
}

.header__menu {
  display: inline;
  margin-left: 16.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header__menu li {
  display: inline;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
  color: #333333;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header__menu li:first-child {
  margin-left: 0;
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__menu li:hover {
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  transition: all 0.5s ease;
}

.menu__link span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.menu__link span:hover {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.menu__items {
  display: inline;
}

.side__menu {
  display: none;
}

#menuToggle input {
  opacity: 0;
}

@media (max-width: 768px) {
  .container {
    min-width: 690px;
    width: 100%;
    margin: 0 auto;
  }
  .header {
    margin: 1rem 1rem 1rem 1rem;
  }
  .header__menu {
    max-width: 30rem;
    width: 30rem;
    justify-content: flex-end;
    margin-left: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .header__menu li {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .menu__link span {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border: none;
  }
  .menu__link span:hover {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border: none;
  }
  .side__menu {
    display: none;
  }
  #menuToggle input {
    opacity: 0;
  }
}
@media (max-width: 320px) {
  .container {
    min-width: 290px;
    width: 100%;
    margin: 0 auto;
  }
  .header {
    margin: 1rem 1rem 1rem 1rem;
  }
  .menu__link span {
    margin-left: 0;
    margin-right: 0;
    background: none !important;
  }
  .menu__link span:hover {
    margin-left: 0;
    margin-right: 0;
    background: none !important;
  }
  #menuToggle {
    position: relative;
    top: 0;
    left: 14rem;
    z-index: 1;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #2C2C2C;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    transform: scale(1.1);
    transition: color 0.3s ease;
  }
  #menuToggle input {
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 2.063rem;
    height: 0.27rem;
    margin-bottom: 0.313rem;
    position: relative;
    background: #2C2C2C;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, 0);
    background: #2C2C2C;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 12rem;
    margin: -6rem -20.5rem -2rem;
    padding: 2rem;
    padding-top: 9rem;
    background: #F2F2F2;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 0.3rem 0;
    line-height: 1rem;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
footer {
  background-color: #2C2C2C;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 3.63rem;
  padding-bottom: 1.5rem;
}

.footer__row {
  display: flex;
  padding-bottom: 3.75rem;
}

.footer__row-col:nth-child(2) {
  margin-right: 9.8rem;
}

.footer__row-col:nth-child(3) {
  margin-right: 12.75rem;
}

.footer__row-col {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer__row-col a {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer__row-col:first-child {
  order: 1;
  margin-top: 1.56rem;
}

.footer__row-col img {
  margin-right: 1rem;
}

.col__contacts {
  display: flex;
  align-items: center;
}

.footer__row-logo {
  display: flex;
  margin-right: 5rem;
}

.footer__row-logo img {
  width: 100%;
  margin-left: -1.25rem;
}

.footer__copywrite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  color: rgba(200, 200, 200, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

@media (max-width: 768px) {
  .footer__row {
    justify-content: space-around;
    padding-bottom: 1rem;
  }
  .footer__row-logo {
    margin-bottom: 3rem;
    margin-right: 0;
  }
  .footer__row-col:nth-child(2) {
    margin-right: 0;
  }
  .footer__row-col:nth-child(3) {
    margin-right: 0;
  }
  .footer__row-col:first-child {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .footer__row {
    max-width: 30rem;
    width: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    row-gap: 2rem;
  }
  .footer__row-col {
    width: 25rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    row-gap: 0.5rem;
    text-align: center;
  }
  .footer__row-logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8rem;
  }
  .footer__row-logo img {
    margin-left: 0;
  }
  .col__contacts {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.main__project-variants-wrapper {
  max-width: 17.36019rem;
  width: 100%;
}
.main__project-variants-wrapper .main__project-variants-title {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  position: relative;
}
.main__project-variants-wrapper .main__project-variants-title span {
  font-weight: 300;
  color: #BDBDBD;
}

.main__project-variants-title::after {
  content: " ";
  width: 1170px;
  height: 1px;
  background-color: #F2F2F2;
  position: absolute;
  bottom: -17px;
  left: 0;
}
@media screen and (max-width: 1197px) {
  .main__project-variants-title::after {
    content: none;
    text-align: center;
  }
}

.cards .cards__wrapper {
  display: flex;
  background-color: #FBFBFB;
  margin-bottom: 3.75rem;
}
@media screen and (max-width: 1197px) {
  .cards .cards__wrapper {
    flex-direction: column;
    max-width: 670px;
    width: 100%;
  }
}
.cards .card__info {
  margin: 1.88rem 1.88rem 1.88rem 1.88rem;
}
@media screen and (max-width: 768px) {
  .cards .card__info {
    text-align: center;
  }
}
.cards .card__info .card__title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: #BDBDBD;
  margin-bottom: 4.56rem;
}
.cards .card__info .card__text {
  max-width: 25rem;
  min-height: 7.5rem;
  width: 100%;
  margin-bottom: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .cards .card__info .card__text {
    max-width: 670px;
    width: 100%;
  }
}
.cards .card__info .card__button {
  width: 13.875rem;
  height: 4.4375rem;
  border: none;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #333333;
}
.cards .card__info .card__button .card__button-arrow {
  margin-left: 1.25rem;
}

.cards__wrapper:last-child {
  margin-bottom: 14.56rem;
}/*# sourceMappingURL=page3Style.css.map */