@import '../template';
@import '../header/header';
@import '../footer/footer';

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 44.6275rem;
    margin-left: 8.44rem;
        div{
            margin: 0;
            padding-bottom: 0;
            font-family: $font;
            font-size: 4rem;
            line-height: 4rem;
        }
    }  
    span{
        text-transform: uppercase;
    }
