@import '../template';
@import '../header/header';
@import '../footer/footer';

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 44.6275rem;
    margin-left: 8.44rem;
    }  
    span{
        text-transform: uppercase;
    }
