@import '../template';
@import '../header/header';
@import '../footer/footer';


.main__container {
    display: flex;
    min-height: 240.5rem;
    flex-direction: column;
    justify-content: space-around;
    @media (max-width:768px){
        min-height: 180rem;
    }
}

.box-main {
    display: flex;
    min-height: 51.8125rem;
    @media (max-width:768px){
        min-height: 25rem;
    }
    .box-main__title {
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        justify-content: space-around;
        @media (max-width:768px){
            min-width: 15rem;
            flex-basis: 50%;
        }

    }
    .box-main__img {
        display: flex;
        flex:1;
        justify-content: flex-start;
        align-items: end;
        background: url(../../image/page1_img/background/building.png);
        background-position: center;
        background-size: cover;
    @media (max-width:768px){
        background: url(../../image/page1_img/background/building_s.png);
    }


        .box-main__button {
            @include btn ($color5, $color1)
        }

        .box-main__button:hover {
            @include btn ($color9, $color1)
        }

    }
}

.about {
    display: flex;
    max-height: 27.1875rem;
    background-color: $color4;

    .about__img {
        display: flex;
        flex: 1;
        justify-content: center;

        .about__first-column {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 1.88rem;

            .pattern1 {
                width: 16.875rem;
                height: 16.5625rem;
                flex-shrink: 0;
                margin-top: 1.88rem;
            }

            .pattern2 {
                width: 16.875rem;
                height: 8.75rem;
                flex-shrink: 0;
                margin-top: 1.88rem;
                margin-bottom: -1.88rem;
            }
        }

        .about__second-column {
            width: 16.875rem;
            height: 21.5625rem;
            flex-shrink: 0;
            margin-top: 3.75rem;
            @media (max-width:768px){ 
                display: none;;
            }
        }
    }

    .about__content {
        display: flex;
        flex-direction: column;
        width: 31.25rem;
        justify-content: space-around;
        align-items: flex-start;

        .about__text {
            width: 25rem;
            height: 12.5rem;
            color: $color2;
            font-size: 1rem;
            font-family: $font;
            font-style: normal;
            font-weight: 300;
            line-height: 1.5625rem;
        }

        .about__button {
            @include btn ($color5, $color1)
        }
    }
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16.75rem;

    .mission__content {
        display: flex;
        justify-content: space-between;
        flex: 1;

        .mission__statement {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            flex-basis: 100%;

            .mission__number {
                align-self: flex-end;
                color: $color6;
                font-size: 12.5rem;
                font-family: $font;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                @media (max-width:768px){ 
                    display: none;;
                }
            }

            .mission__text {
                max-width: 26.25rem;
                color: $color1;
                font-size: 1.375rem;
                font-family: $font;
                font-style: normal;
                font-weight: 400;
                line-height: 2.25rem;
            }
        }
    }
}

.projects {
    min-height: 47.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media (max-width:768px){ 
        min-height: 30rem;
    }

.projects__content {
    display: flex;
    flex-direction: column;
    gap: 1.88rem;

    .projects__first-line {
        display: flex;
        gap: 1.88rem;
        /*@media (max-width:768px){ 
            flex-direction: column;
            gap: 1.88rem;
            align-items: center;
        }*/

        .projects__wrapper {
            flex-basis: 50%;
            background: url(../../image/page1_img/background/projects_background.png);
            @media (max-width:768px){ 
                max-width: 30rem;
            }
            .projects__link {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.9rem;
                background-color: rgba(51, 51, 51, 0.74);

                .link-title {
                    width: 14.56rem;
                    color: $color5;
                    font-size: 4rem;
                    font-family: $font;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 4rem;
                    margin-left: 4.94rem;
                }

                .link-button {
                    font-size: 0.75rem;
                    font-family: 'Gothic A1', sans-serif;
                    font-style: normal;
                    letter-spacing: 0.15rem;
                    text-transform: uppercase;
                    color: $color5;
                    margin-left: 4.94rem;
                }
            }
        }
    }

    .projects__second-line {
        display: flex;
        justify-content: space-between;
        @media (max-width:768px){ 
            display: none;
        }
    }
    .project__img{
        @media (max-width:768px){ 
        max-width: 30rem;}
    }
}
    .projects__button {
        align-self: flex-end;
        @include btn ($color1, $color5)
    }

}
.contacts {
    display: flex;
    flex-direction: column;
    height: 37.6875rem;

    .contacts__content {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 1.88rem;
        @media (max-width:768px){ 
            background-image: url(../../image/page1_img/image/man.png);
        }

        .contact__form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 23.0625rem;
            

            .contact__input,
            .contact__textarea {
                width: 24.4375rem;
                height: 2.875rem;
                background-color: #F3F3F3;
                border: none;
                color: $color3;
                font-size: 0.875rem;
                font-family: Roboto;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.035rem;
            }

            .contact__textarea {
                height: 9.1875rem;
            }
        }
    }
.contacts__img{
    @media (max-width:768px){ 
        display: none;
    }
}
    .contacts__button {
        @include btn ($color1, $color5)
    }
}