* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
  }
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

li {
  cursor: pointer;
}

.footer__row-col {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title-h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  position: relative;
}
.title-h1 span {
  font-weight: 300;
  color: #BDBDBD;
}

.title-h2 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #BDBDBD;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1.82rem;
}

.header__logo {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo img {
  width: 100%;
}

.header__nav {
  display: inline;
}

.header__nav ul {
  list-style: none;
}

.header__menu {
  display: inline;
  margin-left: 16.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header__menu li {
  display: inline;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
  color: #333333;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header__menu li:first-child {
  margin-left: 0;
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__menu li:hover {
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  transition: all 0.5s ease;
}

.menu__link span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.menu__link span:hover {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.menu__items {
  display: inline;
}

.side__menu {
  display: none;
}

#menuToggle input {
  opacity: 0;
}

@media (max-width: 768px) {
  .container {
    min-width: 690px;
    width: 100%;
    margin: 0 auto;
  }
  .header {
    margin: 1rem 1rem 1rem 1rem;
  }
  .header__menu {
    max-width: 30rem;
    width: 30rem;
    justify-content: flex-end;
    margin-left: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .header__menu li {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  .menu__link span {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border: none;
  }
  .menu__link span:hover {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border: none;
  }
  .side__menu {
    display: none;
  }
  #menuToggle input {
    opacity: 0;
  }
}
@media (max-width: 320px) {
  .container {
    min-width: 290px;
    width: 100%;
    margin: 0 auto;
  }
  .header {
    margin: 1rem 1rem 1rem 1rem;
  }
  .menu__link span {
    margin-left: 0;
    margin-right: 0;
    background: none !important;
  }
  .menu__link span:hover {
    margin-left: 0;
    margin-right: 0;
    background: none !important;
  }
  #menuToggle {
    position: relative;
    top: 0;
    left: 14rem;
    z-index: 1;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: #2C2C2C;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    transform: scale(1.1);
    transition: color 0.3s ease;
  }
  #menuToggle input {
    display: block;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 2.063rem;
    height: 0.27rem;
    margin-bottom: 0.313rem;
    position: relative;
    background: #2C2C2C;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, 0);
    background: #2C2C2C;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 12rem;
    margin: -6rem -20.5rem -2rem;
    padding: 2rem;
    padding-top: 9rem;
    background: #F2F2F2;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 0.3rem 0;
    line-height: 1rem;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
footer {
  background-color: #2C2C2C;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 3.63rem;
  padding-bottom: 1.5rem;
}

.footer__row {
  display: flex;
  padding-bottom: 3.75rem;
}

.footer__row-col:nth-child(2) {
  margin-right: 9.8rem;
}

.footer__row-col:nth-child(3) {
  margin-right: 12.75rem;
}

.footer__row-col {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer__row-col a {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer__row-col:first-child {
  order: 1;
  margin-top: 1.56rem;
}

.footer__row-col img {
  margin-right: 1rem;
}

.col__contacts {
  display: flex;
  align-items: center;
}

.footer__row-logo {
  display: flex;
  margin-right: 5rem;
}

.footer__row-logo img {
  width: 100%;
  margin-left: -1.25rem;
}

.footer__copywrite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  color: rgba(200, 200, 200, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

@media (max-width: 768px) {
  .footer__row {
    justify-content: space-around;
    padding-bottom: 1rem;
  }
  .footer__row-logo {
    margin-bottom: 3rem;
    margin-right: 0;
  }
  .footer__row-col:nth-child(2) {
    margin-right: 0;
  }
  .footer__row-col:nth-child(3) {
    margin-right: 0;
  }
  .footer__row-col:first-child {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .footer__row {
    max-width: 30rem;
    width: 25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    row-gap: 2rem;
  }
  .footer__row-col {
    width: 25rem;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    row-gap: 0.5rem;
    text-align: center;
  }
  .footer__row-logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8rem;
  }
  .footer__row-logo img {
    margin-left: 0;
  }
  .col__contacts {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.main {
  display: flex;
  justify-content: center;
}
.main .main__container {
  display: flex;
  height: 246.88rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .main .main__container {
    height: 180rem;
  }
}
.main .main__container .box-main {
  display: flex;
  flex-basis: 25%;
  width: 100%;
  justify-content: center;
}
.main .main__container .box-main .box-main__title {
  display: flex;
  flex-basis: 34.2%;
  align-items: center;
}
.main .main__container .box-main .box-main__img {
  display: flex;
  flex-basis: 65.8%;
  justify-content: flex-start;
  align-items: end;
  background: url(../../image/page1_img/background/building.png);
  background-position: center;
  background-size: cover;
}
.main .main__container .box-main .box-main__img .box-main__buttom {
  width: 13.875rem;
  height: 4.4375rem;
  border: none;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #333333;
}
.main .main__container .about {
  display: flex;
  flex-basis: 11%;
  width: 100%;
  background-color: #FBFBFB;
}
.main .main__container .about .about__img {
  display: flex;
  flex-basis: 57.25%;
  justify-content: center;
}
.main .main__container .about .about__img .about__first-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.88rem;
}
.main .main__container .about .about__img .about__first-column .pattern1 {
  width: 16.875rem;
  height: 16.5625rem;
  margin-top: 1.88rem;
}
.main .main__container .about .about__img .about__first-column .pattern2 {
  width: 16.875rem;
  height: 8.75rem;
  flex-shrink: 0;
  margin-top: 1.88rem;
  margin-bottom: -3.88rem;
}
.main .main__container .about .about__img .about__second-column {
  width: 16.875rem;
  height: 21.5625rem;
  flex-shrink: 0;
  margin-top: 3.75rem;
}
@media (max-width: 768px) {
  .main .main__container .about .about__img .about__second-column {
    display: none;
  }
}
.main .main__container .about .about__content {
  display: flex;
  flex-basis: 42.75%;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.main .main__container .about .about__content .about__text {
  width: 25rem;
  height: 12.5rem;
  color: #000000;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5625rem;
}
.main .main__container .about .about__content .about__button {
  width: 13.875rem;
  height: 4.4375rem;
  border: none;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #333333;
}
.main .main__container .mission {
  display: flex;
  flex-basis: 6.78%;
  flex-direction: column;
  justify-content: space-between;
}
.main .main__container .mission .mission__content {
  display: flex;
  flex-basis: 53.73%;
  gap: 3%;
}
.main .main__container .mission .mission__content .mission__statement {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  align-items: center;
}
.main .main__container .mission .mission__content .mission__statement .mission__number {
  flex-basis: 20.51%;
  color: #F2F2F2;
  font-size: 12.5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@media (max-width: 768px) {
  .main .main__container .mission .mission__content .mission__statement .mission__number {
    display: none;
  }
}
.main .main__container .mission .mission__content .mission__statement .mission__text {
  justify-self: center;
  flex-basis: 71.8%;
  color: #333333;
  font-size: 1.375rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}
.main .main__container .projects {
  display: flex;
  flex-basis: 19.37%;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.main .main__container .projects .projects__content {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
}
.main .main__container .projects .projects__content .projects__first-line {
  display: flex;
  gap: 1.88rem;
}
@media (max-width: 768px) {
  .main .main__container .projects .projects__content .projects__first-line .project__img {
    width: 30rem;
  }
}
.main .main__container .projects .projects__content .projects__first-line .projects__wrapper {
  flex-basis: 50%;
  background: url(../../image/page1_img/background/projects_background.png);
}
@media (max-width: 768px) {
  .main .main__container .projects .projects__content .projects__first-line .projects__wrapper {
    max-width: 30rem;
  }
}
.main .main__container .projects .projects__content .projects__first-line .projects__wrapper .projects__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.9rem;
  background-color: rgba(51, 51, 51, 0.74);
}
.main .main__container .projects .projects__content .projects__first-line .projects__wrapper .projects__link .link-title {
  width: 14.56rem;
  color: #FFFFFF;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  margin-left: 4.94rem;
}
.main .main__container .projects .projects__content .projects__first-line .projects__wrapper .projects__link .link-button {
  font-size: 0.75rem;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 4.94rem;
}
.main .main__container .projects .projects__content .projects__second-line {
  gap: 1.88rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .main .main__container .projects .projects__content .projects__second-line {
    display: none;
  }
}
@media (max-width: 768px) {
  .main .main__container .projects .projects__content .projects__second-line .project__img {
    max-width: 30rem;
  }
}
.main .main__container .projects .projects__button {
  align-self: flex-end;
  width: 13.875rem;
  height: 4.4375rem;
  border: none;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: #333333;
  color: #FFFFFF;
}
.main .main__container .contacts {
  display: flex;
  flex-basis: 15.27%;
  flex-direction: column;
  width: 100%;
  gap: 1.88rem;
}
@media (max-width: 768px) {
  .main .main__container .contacts {
    background-image: url(../../image/page1_img/image/man.png);
    background-size: cover;
  }
}
.main .main__container .contacts .contacts__content {
  display: flex;
  flex-basis: 61.19%;
  align-items: center;
  gap: 1.88rem;
}
.main .main__container .contacts .contacts__content .contact__form {
  display: flex;
  flex-basis: 12.56%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.main .main__container .contacts .contacts__content .contact__form .contact__input,
.main .main__container .contacts .contacts__content .contact__form .contact__textarea {
  width: 24.4375rem;
  height: 2.875rem;
  background-color: #F3F3F3;
  border: none;
  color: #BDBDBD;
  font-size: 0.875rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.035rem;
}
.main .main__container .contacts .contacts__content .contact__form .contact__textarea {
  height: 9.1875rem;
}
@media (max-width: 768px) {
  .main .main__container .contacts .contacts__content .contact__form .contact__textarea {
    height: 4rem;
  }
}
.main .main__container .contacts .contacts__img {
  flex-basis: 64.02%;
}
@media (max-width: 768px) {
  .main .main__container .contacts .contacts__img {
    display: none;
  }
}
.main .main__container .contacts .contacts__button {
  width: 13.875rem;
  height: 4.4375rem;
  border: none;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: #333333;
  color: #FFFFFF;
}/*# sourceMappingURL=page1Style.css.map */