@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

li {
  cursor: pointer;
}

.footer__row-col {
  color: #FFFFFF;
  font-size: 1rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1.82rem;
}

.header__logo {
  display: flex;
}

.header__logo img {
  width: 100%;
}

.header__nav {
  display: inline;
}

.header__nav ul {
  list-style: none;
}

.header__menu {
  display: inline;
  margin-left: 20.7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header__menu li {
  display: inline;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
  color: #333333;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header__menu li:first-child {
  margin-left: 0;
}

.header__menu li:last-child {
  margin-right: 0;
}

.header__menu li:hover {
  padding-top: 0.24rem;
  padding-bottom: 0.24rem;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  transition: all 0.5s ease;
}

.header__menu span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.header__menu span:hover {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.menu__items {
  display: inline;
}

@media (min-width: 690px) and (max-width: 1360px) {
  .header {
    margin: 1rem 1rem 1rem 1rem;
  }
  .header__menu {
    max-width: 30rem;
    width: 30rem;
    justify-content: flex-end;
    margin-left: 6.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .header__menu li {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}
@media (min-width: 320px) and (max-width: 689px) {
  .header {
    margin: 1rem 1rem 1rem 1rem;
  }
  .header__menu {
    max-width: 30rem;
    width: 30rem;
    justify-content: flex-end;
    margin-left: 6.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .header__menu li {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    line-height: 0.625rem;
  }
}
footer {
  background-color: #2C2C2C;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 3.63rem;
  padding-bottom: 1.5rem;
}

.footer__row {
  display: flex;
  padding-bottom: 3.75rem;
}

.footer__row-col:nth-child(2) {
  margin-right: 9.8rem;
}

.footer__row-col:nth-child(3) {
  margin-right: 12.75rem;
}

.footer__row-col {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer__row-col a {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer__row-col:first-child {
  order: 1;
  margin-top: 1.56rem;
}

.footer__row-col img {
  margin-right: 1rem;
}

.col__contacts {
  display: flex;
  align-items: center;
}

.footer__row-logo {
  display: flex;
}

.footer__row-logo img {
  width: 100%;
  margin-left: -1.25rem;
}

.footer__copywrite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  color: rgba(200, 200, 200, 0.5);
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

@media (min-width: 690px) and (max-width: 1360px) {
  .footer__row {
    justify-content: space-around;
    padding-bottom: 1rem;
  }
  .footer__row-logo {
    margin-bottom: 3rem;
  }
  .footer__row-col:nth-child(2) {
    margin-right: 0;
  }
  .footer__row-col:nth-child(3) {
    margin-right: 0;
  }
  .footer__row-col:first-child {
    margin-left: 0;
  }
}
@media (min-width: 320px) and (max-width: 689px) {
  .footer__row {
    max-width: 30rem;
    width: 30rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
    row-gap: 2rem;
  }
  .footer__row-col {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    row-gap: 0.5rem;
    text-align: center;
  }
  .footer__row-logo {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__row-logo img {
    margin-left: 0;
  }
  .col__contacts {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.main__container {
  display: flex;
  min-height: 240.5rem;
  flex-direction: column;
  justify-content: space-around;
}

.box-main {
  display: flex;
  flex-basis: 51.8125rem;
}
.box-main .box-main__content {
  display: flex;
  flex-direction: column;
  flex-basis: 25rem;
  justify-content: space-around;
}
.box-main .box-main__content .box-main__title {
  margin-top: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  position: relative;
}
.box-main .box-main__content .box-main__title span {
  font-weight: 300;
  color: #BDBDBD;
}
.box-main .box-main__img {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: end;
  background-image: url(/ITgirls-PROJECT1/assets/image/page1_img/background/building.png);
  /*задать переменную*/
}
.box-main .box-main__img .box-main__buttom {
  width: 13.875rem;
  height: 4.4375rem;
  flex-shrink: 0;
  border: none;
  background: #FFFFFF;
  color: #333333;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 1000;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.about {
  display: flex;
  max-height: 27.1875rem;
  background-color: #FBFBFB;
}
.about .about__img {
  display: flex;
  flex: 1;
  justify-content: center;
}
.about .about__img .about__first-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.88rem;
}
.about .about__img .about__first-column .pattern1 {
  width: 16.875rem;
  height: 16.5625rem;
  flex-shrink: 0;
  margin-top: 1.88rem;
}
.about .about__img .about__first-column .pattern2 {
  width: 16.875rem;
  height: 8.75rem;
  flex-shrink: 0;
  margin-top: 1.88rem;
  margin-bottom: -1.88rem;
}
.about .about__img .about__second-column {
  width: 16.875rem;
  height: 21.5625rem;
  flex-shrink: 0;
  margin-top: 3.75rem;
}
.about .about__content {
  display: flex;
  flex-direction: column;
  width: 31.25rem;
  justify-content: space-around;
  align-items: flex-start;
}
.about .about__content .about__title {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
  color: #BDBDBD;
  /*сделать переменной*/
}
.about .about__content .about__text {
  width: 25rem;
  height: 12.5rem;
  color: #000000;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5625rem;
}
.about .about__content .about__button {
  width: 13.875rem;
  height: 4.4375rem;
  flex-shrink: 0;
  border: none;
  background: #FFFFFF;
  color: #333333;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 1000;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  /*сделать переменной*/
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 16.75rem;
}
.mission .mission__title {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
  color: #BDBDBD;
  /*сделать переменной*/
}
.mission .mission__content {
  display: flex;
  justify-content: space-between;
}
.mission .mission__content .mission__statement {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 9rem;
}
.mission .mission__content .mission__statement .mission__number {
  color: #F2F2F2;
  font-size: 12.5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.mission .mission__content .mission__statement .mission__text {
  max-width: 26.25rem;
  color: #333333;
  font-size: 1.375rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
}

.projects {
  min-height: 47.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.projects .projects__title {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
  color: #BDBDBD;
  /*сделать переменной*/
}
.projects .projects__content {
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
}
.projects .projects__content .projects__first-line {
  display: flex;
  gap: 1.88rem;
}
.projects .projects__content .projects__first-line .projects__wrapper {
  flex-basis: 50%;
  background-image: url(/ITgirls-PROJECT1/assets/image/page1_img/background/projects_background.png);
}
.projects .projects__content .projects__first-line .projects__wrapper .projects__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.9rem;
  background-color: rgba(51, 51, 51, 0.74);
}
.projects .projects__content .projects__first-line .projects__wrapper .projects__link .link-title {
  width: 14.56rem;
  color: #FFFFFF;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  margin-left: 4.94rem;
}
.projects .projects__content .projects__first-line .projects__wrapper .projects__link .link-button {
  font-size: 0.75rem;
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 4.94rem;
}
.projects .projects__content .projects__second-line {
  display: flex;
  justify-content: space-between;
}
.projects .projects__button {
  align-self: flex-end;
  width: 13.875rem;
  height: 4.4375rem;
  flex-shrink: 0;
  border: none;
  background: #333333;
  color: #FFFFFF;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 0.75rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  /*сделать переменной*/
}/*# sourceMappingURL=page1Style.css.map */